<div class="container dash-container">
  <h2 class="text-center p-4">Dashboard</h2>

  <div class="row main-dash bg-danger text-light">
    <div class="col-4"> Your listings </div>
    <div class="col-4"> Bidding status </div>
  </div>

  <% current_user.listings.each do |listing| %>

    <div class="row main-dash">
      <div class="col-4">
        <p> <%=listing.name%> </p>
      </div>
      <div class="col-4">
        <p> Ongoing </p>
      </div>

      <div class="col-4">
        <% auction = @auctions.find_by(listing_id: listing.id) %>
        <%= link_to 'View', auction_path(auction), class: "btn btn-info"%>
      </div>
    </div>

  <% end %>
</div>

