<div class="bg-danger">
  <div class="container">
    <div class="row p-3">
      <div class="col-4 p-5">
        <h2> A better way for bars and brands to do business. </h2>
        <p class="text-light"> The online auction where bars can tender their listings and drinks brands can bid for them.</p>
      </div>
      <div class="col-8">
        <%= image_tag "people", class: "homepage-image" %>
      </div>
    </div>

  </div>
</div>

