// custom card styling
.card-description{
  // height: 200px;
}

.card-body {
  width: 310px;
}

.card {
  transition: 0.5s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
}

.card-button {
  position: absolute;
  bottom: -20px;
  right: 90px;
}

.card-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: relative;
  left: 1.5rem;
  object-fit: cover;
}

.card-info {
 font-size: 12px;
 margin: 0;
}
