// custom card styling
.card-button {
  position: relative;
  top: 2.5rem;
  left: 7rem;
}

.card-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: relative;
  left: 1.5rem;
}

.card-info {
 font-size: 12px;
 margin: 0;
}
